
.ham-menu {
  display: flex;
  align-items: center;
  position: relative; // Position relative for absolute positioning of dropdown
  background-color: var(--ham-menu-text-color);

  .example-icon {
    margin-right: 0.625rem;
  }

  .dropdown-button {
    display: none; // Hide by default, show on small screens
    width: 100%;
    text-align: left;
    padding: 0.75rem;
    background-color:var(  --navbar-background-color) ;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .category-links {
    display: flex;
    flex: 1;
    width: 100%;
  background-color: var(--navbar-background-color);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; // Allows wrapping of links

    a {
      text-decoration: none;
      font-size: 0.875rem;
      color: var(--ham-menu-text-color);
      margin: 0 0.5rem;
    }

    mat-divider[vertical] {
      height: 1.5rem;
      margin: 0 0.5rem;
      align-self: center;
      border-color: var(--divider-color);
    }
  }

  .category-links a {
    position: relative;
    text-decoration: none;
    color: var(--navbar-text-color);
  }

  .category-links .selected {
    color: var(--ham-menu-selected-color); // Use theme color
  }

  .category-links .selected::after {
    content: "";
    position: absolute;
    bottom: -0.3125rem;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: var(--ham-menu-selected-underline-color); // Use theme color
  }

  /* Responsive Styles */
  @media (max-width: 1024px) {
    .category-links a {
      font-size: 0.8125rem;
      margin: 0 0.4375rem;
    }

    mat-divider[vertical] {
      height: 1.375rem;
      margin: 0 0.4375rem;
    }
  }

  @media (max-width: 768px) {
    .dropdown-button {
      display: block; // Show button on small screens
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      margin-right: 3rem;
    }

    .category-links {
      display: none; // Hide horizontal links on small screens

      &.dropdown {
        display: block;
        position: absolute; // Ensure dropdown is positioned over other content
        background-color: var(--ham-menu-dropdown-bg-color); // Use theme color
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
        width: 100%;
        z-index: 1;

        a {
          display: block;
          padding: 0.75rem;
          text-align: left;
          text-decoration: none;
          color: var(--ham-menu-text-color); // Use theme color
        }

        a:hover {
          background-color: var(--ham-menu-dropdown-hover-bg-color); // Use theme color
        }
      }
    }
  }

  @media (max-width: 480px) {
    .ham-menu {
      .example-icon {
        display: none; // Hide the icon on small screens
      }

      .category-links {
        width: 100%;
        justify-content: space-between;

        a {
          font-size: 0.6875rem;
          margin: 0.25rem 0;
          width: 48%; // Adjust width to fit two links per row
        }

        mat-divider[vertical] {
          display: none; // Hide dividers on small screens
        }
      }
    }
  }
}
