

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 1.25rem;
  background-color: var(--profile-background-color);
}

.loading {
  font-size: 1.125rem;
  color: var(--profile-loading-color);
}

.profile-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.profile-image {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--profile-image-background);

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.profile-details {
  flex: 1;
  color: var(--navbar-text-color);
  max-width: 31.25rem;
  background: var(--profile-background-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.625rem var(--profile-shadow);
  padding: 1.25rem;

  h2 {
    margin-top: 0;
    color: var(--profile-heading-color);
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 0.625rem;
      text-align: left;
    }

    th {
      background: var(--profile-table-header-background);
      font-weight: bold;
    }

    td {
      border-bottom: 1px solid var(--profile-table-border);
    }

    tr:last-child td {
      border-bottom: none;
    }
  }
}

.error {
  color: var(--profile-error-text);
  background-color: var(--profile-error-background);
  padding: 0.625rem;
  border-radius: 0.25rem;
  margin-top: 1.25rem;
}

.error-message {
  margin: 0;
}

@media (max-width: 768px) {
  .profile-content {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    width: 7.5rem;
    height: 7.5rem;
    margin-bottom: 1.25rem;
  }

  .profile-details {
    max-width: 90%;
  }
}