.details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-image {
  max-width: 100%;
  height: auto;
  border-radius: 0.3125rem;
}

mat-dialog-content {
  padding: 1.25rem;
}

mat-dialog-actions {
  padding: 0.625rem;
  text-align: right;
}
