
.sidenav {
  padding: 1.25rem;
  width: 100%;
  background-color: var(--sidenav-background-color);
  color: var(--sidenav-text-color);
  overflow-y: auto;
  height: 100%;

 
  .greeting {
    margin-bottom: 1.25rem;

    h3 {
      margin: 0;
      font-size: 1.125rem;
    }

    a {
      color: var(--sidenav-link-color);
      text-decoration: none;
    }
  }

  .divider {
    margin: 1.25rem 0;
    border: 0;
    border-top: 1px solid var(--sidenav-divider-color);
  }

  .menu-section,
  .settings-section {
    h4 {
      font-size: 1rem;
      margin-bottom: 0.625rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0.625rem 0;
        cursor: pointer;

        &:hover {
          color: var(--sidenav-link-color);
        }
      }
    }
  }
}

.language-selector {
  display: flex;
  align-items: center;
  margin: 1.25rem 0;

  button {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background: none;
    background-color: var(--sidenav-background-color);
    cursor: pointer;
    color: var(--sidenav-text-color); /* Ensure the button text color matches the theme */
  }

  .flag-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

  .language-code {
    font-size: 1rem;
  }
}

@media (max-width: 48rem) {
  .sidenav {
    width: 100%;
  }
}

@media (min-width: 48rem) {
  .location,
  .language-selector {
    display: none;
  }
}
