<div class="signup-container">
  <div class="image-container">
    <img src="assets/navbar/logo.png" alt="logo_icon_pic" />
  </div>
  <div class="signup-form-container">
    <div class="signup-form">
      <h2>{{ "SIGNUP" | translate }}</h2>
      <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <!-- form -->
        <div class="form-group">
          <label for="firstname">{{ "FIRST NAME" | translate }}:</label>
          <!-- firt name input feild  -->
          <input
            type="text"
            id="firstname"
            [(ngModel)]="firstname"
            name="firstname"
            #firstnameInput="ngModel"
            required
            [class.invalid]="
              firstnameInput.invalid &&
              (firstnameInput.dirty || firstnameInput.touched)
            "
          />
          <div
            *ngIf="
              firstnameInput.invalid &&
              (firstnameInput.dirty || firstnameInput.touched)
            "
            class="error-message"
          >
            {{ "FIRST_NAME_REQUIRED" | translate }}
          </div>
        </div>
        <div class="form-group">
          <label for="lastname">{{ "LAST NAME" | translate }}:</label>
          <input
            type="text"
            id="lastname"
            [(ngModel)]="lastname"
            name="lastname"
            #lastnameInput="ngModel"
            required
            [class.invalid]="
              lastnameInput.invalid &&
              (lastnameInput.dirty || lastnameInput.touched)
            "
          />
          <div
            *ngIf="
              lastnameInput.invalid &&
              (lastnameInput.dirty || lastnameInput.touched)
            "
            class="error-message"
          >
            {{ "LAST_NAME_REQUIRED" | translate }}
          </div>
        </div>
        <div class="form-group">
          <label for="email">{{ "EMAIL" | translate }}:</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            #usernameInput="ngModel"
            required
            [class.invalid]="
              usernameInput.invalid &&
              (usernameInput.dirty || usernameInput.touched)
            "
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
          <div
            *ngIf="
              usernameInput.invalid &&
              (usernameInput.dirty || usernameInput.touched)
            "
            class="error-message"
          >
            <ng-container *ngIf="usernameInput.errors?.['required']">
              {{ "EMAIL_REQUIRED" | translate }}
            </ng-container>
            <ng-container *ngIf="usernameInput.errors?.['pattern']">
              {{ "INVALID_EMAIL" | translate }}
            </ng-container>
          </div>
        </div>
        <div class="form-group">
          <label for="password">{{ "PASSWORD" | translate }}:</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            #passwordInput="ngModel"
            required
            [class.invalid]="
              passwordInput.invalid &&
              (passwordInput.dirty || passwordInput.touched)
            "
          />
          <div
            *ngIf="
              passwordInput.invalid &&
              (passwordInput.dirty || passwordInput.touched)
            "
            class="error-message"
          >
            {{ "PASSWORD_REQUIRED" | translate }}
          </div>
        </div>
        <button type="submit" [disabled]="signupForm.invalid">
          {{ "SIGNUP" | translate }}
        </button>
        <div class="login-text">
          <p>
            {{ "ALREADY HAVE AN ACCOUNT" | translate }}
            <a routerLink="/shell/login">{{ "LOGIN" | translate }}</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
