.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--signup-background-color);
}

.signup-form-container {
  width: 100%;
  max-width: 400px;
  margin-right: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--signup-form-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--signup-form-box-shadow);
  height: 100%;
  box-sizing: border-box;
  border: 1px solid var(--signup-form-border-color);
  color: var(--signup-form-text-color);
}

.signup-form h2 {
  margin-bottom: 20px;
  color: var(--signup-form-heading-color);
}

.signup-form .form-group {
  margin-bottom: 15px;
  width: 100%;
}

.signup-form input,
.signup-form button {
  width: 100%;
}

.signup-form button {
  background-color: var(--signup-form-button-bg-color);
  color: #ffffff; /* Assuming button text should be white */
  border: none;
  border-radius: 4px;
}

.signup-form button:hover {
  background-color: var(--signup-form-button-hover-bg-color);
}

.signup-form .signup-text {
  margin-top: 10px;
  font-size: 0.875rem;
}

.image-container {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

/* New Design for Small Screens */
@media (max-width: 48rem) { /* 768px */
  .signup-container {
    flex-direction: column;
    height: auto;
    padding: 1.25rem;
  }

  .image-container {
    position: static;
    opacity: 0.3;
    z-index: 0;
  }

  .signup-form-container {
    max-width: 25rem;
    margin-right: 0;
    z-index: 1;
  }

  .signup-form {
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  }

  .signup-form h2 {
    margin-bottom: 1.25rem;
  }

  .signup-form .form-group {
    margin-bottom: 0.9375rem;
  }

  .signup-form .signup-text {
    margin-top: 0.625rem;
  }
}