<div class="signup-container">
    <div class="image-container">
        <img src="assets/navbar/logo.png" alt="logo_icon_pic">
    </div>
    <div class="signup-form-container">
        <div class="signup-form">
            <h2>SignUp</h2>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="firstname" [(ngModel)]="firstname" name="'firstname" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname:</label>
                    <input type="text" id="lastname" [(ngModel)]="lastname" name="lastname" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" [(ngModel)]="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" [(ngModel)]="password" name="password" required>
                  </div>
                <button type="submit">SignUp</button>
                <div class="login-text">
                    <p>Already have an account? <a routerLink="/shell/login">LogIn</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
