<div class="carousel-container">
    <ngb-carousel [interval]="2000" [pauseOnHover]="true" [wrap]="true">

        <ng-template ngbSlide>
            <img src="assets/carousel/offer1.jpg" alt="walking man">
            <div class="carousel-caption">
              <h3>Men's Cloth</h3>
              <p>Check the Newest in Men's Fashion</p>
            </div>
          </ng-template>

      <ng-template ngbSlide>
        <img src="assets/carousel/offer2.jpg" alt="rings picture">
        <div class="carousel-caption">
          <h3>Diamonds</h3>
          <p>Get Authentic Diamonds on your rings</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/carousel/offer3.jpg" alt="ssd harddisk">
        <div class="carousel-caption">
          <h3>Electronics </h3>
          <p>Best Quality Electronics devices</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  