.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card-wrapper {
    flex: 1 1 calc(25% - 20px); // 4 items per row with some spacing
    margin: 10px;
    box-sizing: border-box;
  }
  
  app-card {
    width: 100%; // Make the card take the full width of the wrapper
  }
  