<div class="cart-container">
  <h1>Your Shopping Cart</h1>

  <ag-grid-angular
    style="width: 80%; height: 700px;"
    class="ag-theme-quartz"
    [columnDefs]="columnDefs"
    [rowData]="rowData$ | async"
    [rowHeight]="50" 
    [paginationPageSize]="3"
    [pagination]="true"
    domLayout="normal"
    [defaultColDef]="{ resizable: true }"
    [components]="frameworkComponents"
    [context]="context">
  </ag-grid-angular>
</div>

<ng-template #noItems>
  <p>Your cart is empty!</p>
</ng-template>

<div *ngIf="total$ | async as total">
  <p>Total Price: ${{ total.toFixed(2) }}</p>
</div>