.item-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Increase gap for better spacing */
    max-width: 75%; /* 75% of the parent width */
    margin: 0 auto;
    padding: 20px;
   
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a card effect */
}

.item-card-image {
    flex: 1;
    max-width: 50%; /* Adjust width to make the image 50% of the card width */
}

.item-card-image img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
}

.item-card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between elements */
    padding: 1rem;
    max-width: 50%; /* Adjust width to make the body 50% of the card width */
    height: 100%; /* Make the body container take up the same vertical length as the image */
}

.item-title {
    font-size: 2rem;
    text-align: center;
}

.item-category {
    background-color: #4CAF50; /* Greenish background */
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Space between text and icon */
    padding: 0.5rem;
    border-radius: 0.5rem; /* Rounded edges */
    text-align: center;
    justify-content: center;
}

.category-icon {
    font-size: 1.25rem; /* Size of the tick icon */
}

.item-price {
    font-size: 2.5rem;
    color: black; /* Color for price tag */
    font-weight: bold;
    text-align: center;
}

.item-description {
    border: 1px solid #ccc; /* Border for description box */
    padding: 0.5rem;
    border-radius: 0.5rem; /* Rounded edges */
    text-align: center;
}

.electronics-color {
    background-color: lightblue;
    color: white;
  }
  
  .mens-clothing-color {
    background-color: lightgreen;
    color: white;
  }
  
  .jewelry-color {
    background-color: lightcoral;
    color: white;
  }
  
  .womens-clothing-color {
    background-color: lightpink;
    color: white;
  }
  
  .default-color {
    background-color: lightgray;
    color: white;
  }
  