<mat-drawer-container class="example-container">
  <mat-drawer
    mode="over"
    #drawer
    (openedChange)="onDrawerToggle($event)"
    class="sidenav-drawer"
  >
    <app-sidenav></app-sidenav>
  </mat-drawer>

  <mat-drawer-content>
    <div class="shell-container">
      <div class="navbardiv">
        <app-navbar class="mainnav"></app-navbar>

        <div class="ham-menu">
          <button
            mat-icon-button
            (click)="drawer.toggle()"
            class="example-icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <app-category-bar class="category-links"></app-category-bar>
        </div>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
