.ham-menu {
    display: flex;
    align-items: center;
  
    .example-icon {
      margin-right: 10px; // Space between the icon and the links
    }
  
    .category-links {
        justify-content: center;
      display: flex;
      flex: 1;
      width: 100%;
      align-items: center;

    }
  }
  .example-container.no-scroll {
    height: 100vh;
    overflow: hidden; /* Completely disable scrolling */
  }
  
  .sidenav-drawer {
    height: 100%; /* Ensure the sidenav takes full height */
    width: 250px; /* Set a fixed width for the sidenav */
  }
  
  .sidenav {
    height: 100%; /* Take full height inside the drawer */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 1.25rem;
    background-color: #f5f5f5;
  }
  
  @media (max-width: 48rem){
  mat-drawer {
    width:100%; // Set width to match the sidenav
    max-width: 80vw; // Optional: Set a maximum width for responsiveness
    
    // Optional: Style adjustments
    background-color: #f5f5f5; // Match the sidenav background
  }}