<div class="plus-button-container">
    <ng-container *ngIf="expanded; else showPlus">
      <button class="action-button" (click)="decrement()">-</button>
      <span>{{ count }}</span>
      <button class="action-button" (click)="increment()">+</button>
      <div class="total-price">{{"Total:"| translate}}{{ totalPrice | currency }}</div>
    </ng-container>
    <ng-template #showPlus>
      <button class="action-button" (click)="toggle()">{{ "ADD_TO_CART_+"|translate}}</button>
    </ng-template>
  </div>
  